streamlit

langchain==0.3.27
langchain-core==0.3.75
langchain-community==0.3.29
langchain-chroma==0.2.5
chromadb==1.0.15

langchain-mistralai==0.2.11
mistralai==1.9.10

sentence-transformers
python-dotenv
pypdf
beautifulsoup4
lxml
unstructured
tiktoken
pandas
numpy
requests
tqdm